# project-wide stuff
/.metadata/

# layer one project-related stuff
/*/.settings/
/*/Debug/*
/*/.mxproject
/*/*.launch
/*/*.log
/*/*.scratch
/*/.metadata/

# layer two project-related stuff
/*/*/.settings/
/*/*/Debug/*
/*/*/.mxproject
/*/*/*.launch
/*/*/*.log
/*/*/*.scratch
/*/*/.metadata/
