# layer one project-related stuff
/*/.settings/
/*/Debug/*
/*/.mxproject
/*/*.launch
/*/*.log
/*/*.scratch

# layer two project-related stuff
/*/*/.settings/
/*/*/Debug/
/*/*/.mxproject
/*/*/*.launch
/*/*/*.log
/*/*/*.scratch
